<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="style.css" rel="stylesheet">
<title>Les romans</title>
</head>
<body>

<section id="possibilités">
		<div class="conteneur">
			<article style="background-image: url('article-image-1.jpg')">
				<div class="pos1">
					<h4>Partez en famille</h4>
					<p>
						<small> Offrez le meilleur à ceux que<br> vous aimez
							et partagez des<br>moments fabuleux
						</small>
					</p>
					<a href="#" class="boutton2"> Plus d'infos </a>
				</div>
			</article>

			<article style="background-image: url('article-image-2.jpg')">
				<div class="pos1">
					<h4>Envie de s'evader</h4>
					<p>
						<small> Parfois un peu d'evasion serait<br> le
							bienvenue et ferai le plus<br>grand bien
						</small>
					</p>
					<a href="#" class="boutton2"> Plus d'infos </a>
				</div>
			</article>
			
			<article style="background-image: url('article-image-1.jpg')">
				<div class="pos1">
					<h4>Partez en famille</h4>
					<p>
						<small> Offrez le meilleur à ceux que<br> vous aimez
							et partagez des<br>moments fabuleux
						</small>
					</p>
					<a href="#" class="boutton2"> Plus d'infos </a>
				</div>
			</article>

			<article style="background-image: url('article-image-2.jpg')">
				<div class="pos1">
					<h4>Envie de s'evader</h4>
					<p>
						<small> Parfois un peu d'evasion serait<br> le
							bienvenue et ferai le plus<br>grand bien
						</small>
					</p>
					<a href="#" class="boutton2"> Plus d'infos </a>
				</div>
			</article>
			
			<article style="background-image: url('article-image-1.jpg')">
				<div class="pos1">
					<h4>Partez en famille</h4>
					<p>
						<small> Offrez le meilleur à ceux que<br> vous aimez
							et partagez des<br>moments fabuleux
						</small>
					</p>
					<a href="#" class="boutton2"> Plus d'infos </a>
				</div>
			</article>

			<article style="background-image: url('article-image-2.jpg')">
				<div class="pos1">
					<h4>Envie de s'evader</h4>
					<p>
						<small> Parfois un peu d'evasion serait<br> le
							bienvenue et ferai le plus<br>grand bien
						</small>
					</p>
					<a href="#" class="boutton2"> Plus d'infos </a>
				</div>
			</article>
			
			<article style="background-image: url('article-image-1.jpg')">
				<div class="pos1">
					<h4>Partez en famille</h4>
					<p>
						<small> Offrez le meilleur à ceux que<br> vous aimez
							et partagez des<br>moments fabuleux
						</small>
					</p>
					<a href="#" class="boutton2"> Plus d'infos </a>
				</div>
			</article>

			<article style="background-image: url('article-image-2.jpg')">
				<div class="pos1">
					<h4>Envie de s'evader</h4>
					<p>
						<small> Parfois un peu d'evasion serait<br> le
							bienvenue et ferai le plus<br>grand bien
						</small>
					</p>
					<a href="#" class="boutton2"> Plus d'infos </a>
				</div>
			</article>
			
			<article style="background-image: url('article-image-1.jpg')">
				<div class="pos1">
					<h4>Partez en famille</h4>
					<p>
						<small> Offrez le meilleur à ceux que<br> vous aimez
							et partagez des<br>moments fabuleux
						</small>
					</p>
					<a href="#" class="boutton2"> Plus d'infos </a>
				</div>
			</article>

			<article style="background-image: url('article-image-2.jpg')">
				<div class="pos1">
					<h4>Envie de s'evader</h4>
					<p>
						<small> Parfois un peu d'evasion serait<br> le
							bienvenue et ferai le plus<br>grand bien
						</small>
					</p>
					<a href="#" class="boutton2"> Plus d'infos </a>
				</div>
			</article>
			
			<article style="background-image: url('article-image-1.jpg')">
				<div class="pos1">
					<h4>Partez en famille</h4>
					<p>
						<small> Offrez le meilleur à ceux que<br> vous aimez
							et partagez des<br>moments fabuleux
						</small>
					</p>
					<a href="#" class="boutton2"> Plus d'infos </a>
				</div>
			</article>

			<article style="background-image: url('article-image-2.jpg')">
				<div class="pos1">
					<h4>Envie de s'evader</h4>
					<p>
						<small> Parfois un peu d'evasion serait<br> le
							bienvenue et ferai le plus<br>grand bien
						</small>
					</p>
					<a href="#" class="boutton2"> Plus d'infos </a>
				</div>
			</article>
			
			<article style="background-image: url('article-image-1.jpg')">
				<div class="pos1">
					<h4>Partez en famille</h4>
					<p>
						<small> Offrez le meilleur à ceux que<br> vous aimez
							et partagez des<br>moments fabuleux
						</small>
					</p>
					<a href="#" class="boutton2"> Plus d'infos </a>
				</div>
			</article>

			<article style="background-image: url('article-image-2.jpg')">
				<div class="pos1">
					<h4>Envie de s'evader</h4>
					<p>
						<small> Parfois un peu d'evasion serait<br> le
							bienvenue et ferai le plus<br>grand bien
						</small>
					</p>
					<a href="#" class="boutton2"> Plus d'infos </a>
				</div>
			</article>
			
			<article style="background-image: url('article-image-1.jpg')">
				<div class="pos1">
					<h4>Partez en famille</h4>
					<p>
						<small> Offrez le meilleur à ceux que<br> vous aimez
							et partagez des<br>moments fabuleux
						</small>
					</p>
					<a href="#" class="boutton2"> Plus d'infos </a>
				</div>
			</article>

			<article style="background-image: url('article-image-2.jpg')">
				<div class="pos1">
					<h4>Envie de s'evader</h4>
					<p>
						<small> Parfois un peu d'evasion serait<br> le
							bienvenue et ferai le plus<br>grand bien
						</small>
					</p>
					<a href="#" class="boutton2"> Plus d'infos </a>
				</div>
			</article>
			
			<div class="clear"></div>
		</div>
	</section>

</body>
</html>