<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="style4.css" rel="stylesheet">
<title>Liste des livres</title>
</head>
<body>

<section id="possibilités">
		<div class="conteneur">
			<article style="background-image: url('IM7.jpg')">
				<div class="pos1">
					<h4>Partez en famille</h4>
					<p>
						<small> Offrez le meilleur à ceux que<br> vous aimez
							et partagez des<br>moments fabuleux
						</small>
					</p>
					<!--  <a href="#" class="boutton2"> Plus d'infos </a> -->
				</div>
			</article>

			<article style="background-image: url('IM3.jpeg')">
				<div class="pos1">
					<h4>Envie de s'evader</h4>
					<p>
						<small> Parfois un peu d'evasion serait<br> le
							bienvenue et ferai le plus<br>grand bien
						</small>
					</p>
					<!--  <a href="#" class="boutton2"> Plus d'infos </a> -->
				</div>
			</article>
			
			<article style="background-image: url('IM8.jpg')">
				<div class="pos1">
					<h4>Partez en famille</h4>
					<p>
						<small> Offrez le meilleur à ceux que<br> vous aimez
							et partagez des<br>moments fabuleux
						</small>
					</p>
					<!--  <a href="#" class="boutton2"> Plus d'infos </a> -->
				</div>
			</article>

			<article style="background-image: url('IM4.jpeg')">
				<div class="pos1">
					<h4>Envie de s'evader</h4>
					<p>
						<small> Parfois un peu d'evasion serait<br> le
							bienvenue et ferai le plus<br>grand bien
						</small>
					</p>
					<!--  <a href="#" class="boutton2"> Plus d'infos </a> -->
				</div>
			</article>
			
			</div>
			</section>
			
			<div class="clear"></div>
			
			<section id="parties">
		<div class="conteneur">
			<ul>
				<li id="partie1">
					<h4>Au courant des nouveautés</h4>
					<p>
						cabonnez-vous à nos <br> newsletters d'informations<br>
						speciales
					</p>
				</li>

				<li id="partie2">
					<h4>Les alertes nouveautés</h4>
					<p>
						Recevez toutes les dernières<br> acquisitions du résau
						bibliothèque<br> ddirectement dans votre boite mail !
					</p>
				</li>

				<li id="partie3">
					<h4>Les alertes coup de cœur</h4>
					<p>
						recevez les coups de cœur<br> et de de nos bibliothécaires<br>
					</p>
				</li>
				<div class="clear"></div>
			</ul>
		</div>
	</section>
			
			
			<section id="parties">
		<div class="conteneur">
			<ul>
				<li id="partie11">
					<h4>Au courant des nouveautés</h4>
					<p>
						cabonnez-vous à nos <br> newsletters d'informations<br>
						speciales
					</p>
				</li>

				<li id="partie22">
					<h4>Les alertes nouveautés</h4>
					<p>
						Recevez toutes les dernières<br> acquisitions du résau
						bibliothèque<br> ddirectement dans votre boite mail !
					</p>
				</li>

				<li id="partie33">
					<h4>Les alertes coup de cœur</h4>
					<p>
						recevez les coups de cœur<br> et de de nos bibliothécaires<br>
					</p>
				</li>
				<div class="clear"></div>
			</ul>
		</div>
	</section>
	
	<section id="possibilités">
		<div class="conteneur">
			<article style="background-image: url('iM10.jpeg')">
				<div class="pos1">
					<h4>Partez en famille</h4>
					<p>
						<small> Offrez le meilleur à ceux que<br> vous aimez
							et partagez des<br>moments fabuleux
						</small>
					</p>
					<!--  <a href="#" class="boutton2"> Plus d'infos </a> -->
				</div>
			</article>

			<article style="background-image: url('iM9.jpeg')">
				<div class="pos1">
					<h4>Envie de s'evader</h4>
					<p>
						<small> Parfois un peu d'evasion serait<br> le
							bienvenue et ferai le plus<br>grand bien
						</small>
					</p>
				<!--  	<a href="#" class="boutton2"> Plus d'infos </a> -->
				</div>
			</article>
			
			<article style="background-image: url('iM8.jpeg')">
				<div class="pos1">
					<h4>Partez en famille</h4>
					<p>
						<small> Offrez le meilleur à ceux que<br> vous aimez
							et partagez des<br>moments fabuleux
						</small>
					</p>
					<!--  <a href="#" class="boutton2"> Plus d'infos </a> -->
				</div>
			</article>

			<article style="background-image: url('iM7.jpeg')">
				<div class="pos1">
					<h4>Envie de s'evader</h4>
					<p>
						<small> Parfois un peu d'evasion serait<br> le
							bienvenue et ferai le plus<br>grand bien
						</small>
					</p>
					<!--  <a href="#" class="boutton2"> Plus d'infos </a> -->
				</div>
			</article>
			
			</div>
			</section>
			
			<div class="clear"></div>
			
			<section id="parties">
		<div class="conteneur">
			<ul>
				<li id="partie1">
					<h4>Au courant des nouveautés</h4>
					<p>
						cabonnez-vous à nos <br> newsletters d'informations<br>
						speciales
					</p>
				</li>

				<li id="partie2">
					<h4>Les alertes nouveautés</h4>
					<p>
						Recevez toutes les dernières<br> acquisitions du résau
						bibliothèque<br> ddirectement dans votre boite mail !
					</p>
				</li>

				<li id="partie3">
					<h4>Les alertes coup de cœur</h4>
					<p>
						recevez les coups de cœur<br> et de de nos bibliothécaires<br>
					</p>
				</li>
				<div class="clear"></div>
			</ul>
		</div>
	</section>
			
			
</body>
</html>