<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<link href="style5.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<title>Reservation</title>
</head>
<body>	
		<h2>Votre reservation a été enregistré avec succès.<br>
		   Vous pouvez allez chercher votre livre.
			Vous pouvez consulter vos reservations ici :
			<a th:href="@{/Reservation}"> Vos reservations</a>
		</h2>
</body>
</html>