<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<link href="style.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
<title>Formulaire d'Inscription</title>
</head>
<body>

    <div class="container">
        
        <p>Choisissez vos identifiants de connection : </p>
        <form th:action="@{save}" method="POST">

             <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
                <label class="control-label"> Nom: </label>
                <input class="form-control" type="text" name="userName" th:value="${appuser.userName}"/>
            </div>
            
            <div class="form-group">
                <label class="control-label"> Prenom: </label>
                <input class="form-control" type="text" name="prenom" th:value="${appuser.prenom}"/>
            </div>
            
            <div class="form-group">
                <label class="control-label"> email: </label>
                <input class="form-control" type="text" name="email" th:value="${appuser.email}"/>
            </div>

            <div class="form-group">
                <label class="control-label"> Mot de passe: </label>
                <input class="form-control" type="text" name="encrytedPassword" th:value="${appuser.encrytedPassword}"/>
            </div>

            <button type="submit" class="btn btn-primary"> Enregistrer </button>

            </div>
        </form>
    </div>
</body>
</html>